/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/

/* Materialize CSS */

/*!
 * Materialize v1.0.0 (http://materializecss.com)
 * Copyright 2014-2017 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */

@media only screen and (max-width: 600px) {
	.hide-on-small-only,
	.hide-on-small-and-down {
		display: none !important
	}
}
@media only screen and (max-width: 992px) {
	.hide-on-med-and-down {
		display: none !important
	}
}
@media only screen and (min-width: 601px) {
	.hide-on-med-and-up {
		display: none !important
	}
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
	.hide-on-med-only {
		display: none !important
	}
}
@media only screen and (min-width: 993px) {
	.hide-on-large-only {
		display: none !important
	}
}
@media only screen and (min-width: 1201px) {
	.hide-on-extra-large-only {
		display: none !important
	}
}
@media only screen and (min-width: 1201px) {
	.show-on-extra-large {
		display: block !important
	}
}
@media only screen and (min-width: 993px) {
	.show-on-large {
		display: block !important
	}
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
	.show-on-medium {
		display: block !important
	}
}
@media only screen and (max-width: 600px) {
	.show-on-small {
		display: block !important
	}
}
@media only screen and (min-width: 601px) {
	.show-on-medium-and-up {
		display: block !important
	}
}
@media only screen and (max-width: 992px) {
	.show-on-medium-and-down {
		display: block !important
	}
}
@media only screen and (max-width: 600px) {
	.center-on-small-only {
		text-align: center
	}
}

.hide {
	display: none !important
}
.left-align {
	text-align: left
}
.right-align {
	text-align: right
}
.center,
.center-align {
	text-align: center
}
.left {
	float: left !important
}
.right {
	float: right !important
}
.no-select,
.material-form input[type=range],
.material-form input[type=range]+.thumb {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.circle {
	border-radius: 50%
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.no-padding {
	padding: 0 !important
}
span.badge {
	min-width: 3rem;
	padding: 0 6px;
	margin-left: 14px;
	text-align: center;
	font-size: 1rem;
	line-height: 22px;
	height: 22px;
	color: #757575;
	float: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
span.badge.new {
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: #DBA54B;
	border-radius: 2px
}
span.badge.new:after {
	content: " new"
}
span.badge[data-badge-caption]::after {
	content: " " attr(data-badge-caption)
}
nav ul a span.badge {
	display: inline-block;
	float: none;
	margin-left: 4px;
	line-height: 22px;
	height: 22px;
	-webkit-font-smoothing: auto
}
.collection-item span.badge {
	margin-top: calc(.75rem - 11px)
}
.collapsible span.badge {
	margin-left: auto
}
.sidenav span.badge {
	margin-top: calc(24px - 11px)
}
table span.badge {
	display: inline-block;
	float: none;
	margin-left: auto
}
.material-icons {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga'
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%
}
@media only screen and (min-width: 601px) {
	.container {
		width: 85%
	}
}
@media only screen and (min-width: 993px) {
	.container {
		width: 70%
	}
}
.col .row {
	margin-left: -.75rem;
	margin-right: -.75rem
}
.section {
	padding-top: 1rem;
	padding-bottom: 1rem
}
.section.no-pad {
	padding: 0
}
.section.no-pad-bot {
	padding-bottom: 0
}
.section.no-pad-top {
	padding-top: 0
}
.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px
}
.row:after {
	content: "";
	display: table;
	clear: both
}
.row .col {
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 .75rem;
	min-height: 1px
}
.row .col[class*="push-"],
.row .col[class*="pull-"] {
	position: relative
}
.row .col.s1 {
	width: 8.3333333333%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s2 {
	width: 16.6666666667%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s3 {
	width: 25%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s4 {
	width: 33.3333333333%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s5 {
	width: 41.6666666667%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s6 {
	width: 50%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s7 {
	width: 58.3333333333%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s8 {
	width: 66.6666666667%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s9 {
	width: 75%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s10 {
	width: 83.3333333333%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s11 {
	width: 91.6666666667%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.s12 {
	width: 100%;
	margin-left: auto;
	left: auto;
	right: auto
}
.row .col.offset-s1 {
	margin-left: 8.3333333333%
}
.row .col.pull-s1 {
	right: 8.3333333333%
}
.row .col.push-s1 {
	left: 8.3333333333%
}
.row .col.offset-s2 {
	margin-left: 16.6666666667%
}
.row .col.pull-s2 {
	right: 16.6666666667%
}
.row .col.push-s2 {
	left: 16.6666666667%
}
.row .col.offset-s3 {
	margin-left: 25%
}
.row .col.pull-s3 {
	right: 25%
}
.row .col.push-s3 {
	left: 25%
}
.row .col.offset-s4 {
	margin-left: 33.3333333333%
}
.row .col.pull-s4 {
	right: 33.3333333333%
}
.row .col.push-s4 {
	left: 33.3333333333%
}
.row .col.offset-s5 {
	margin-left: 41.6666666667%
}
.row .col.pull-s5 {
	right: 41.6666666667%
}
.row .col.push-s5 {
	left: 41.6666666667%
}
.row .col.offset-s6 {
	margin-left: 50%
}
.row .col.pull-s6 {
	right: 50%
}
.row .col.push-s6 {
	left: 50%
}
.row .col.offset-s7 {
	margin-left: 58.3333333333%
}
.row .col.pull-s7 {
	right: 58.3333333333%
}
.row .col.push-s7 {
	left: 58.3333333333%
}
.row .col.offset-s8 {
	margin-left: 66.6666666667%
}
.row .col.pull-s8 {
	right: 66.6666666667%
}
.row .col.push-s8 {
	left: 66.6666666667%
}
.row .col.offset-s9 {
	margin-left: 75%
}
.row .col.pull-s9 {
	right: 75%
}
.row .col.push-s9 {
	left: 75%
}
.row .col.offset-s10 {
	margin-left: 83.3333333333%
}
.row .col.pull-s10 {
	right: 83.3333333333%
}
.row .col.push-s10 {
	left: 83.3333333333%
}
.row .col.offset-s11 {
	margin-left: 91.6666666667%
}
.row .col.pull-s11 {
	right: 91.6666666667%
}
.row .col.push-s11 {
	left: 91.6666666667%
}
.row .col.offset-s12 {
	margin-left: 100%
}
.row .col.pull-s12 {
	right: 100%
}
.row .col.push-s12 {
	left: 100%
}
@media only screen and (min-width: 601px) {
	.row .col.m1 {
		width: 8.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m2 {
		width: 16.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m5 {
		width: 41.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m7 {
		width: 58.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m9 {
		width: 75%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m10 {
		width: 83.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m11 {
		width: 91.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.offset-m1 {
		margin-left: 8.3333333333%
	}
	.row .col.pull-m1 {
		right: 8.3333333333%
	}
	.row .col.push-m1 {
		left: 8.3333333333%
	}
	.row .col.offset-m2 {
		margin-left: 16.6666666667%
	}
	.row .col.pull-m2 {
		right: 16.6666666667%
	}
	.row .col.push-m2 {
		left: 16.6666666667%
	}
	.row .col.offset-m3 {
		margin-left: 25%
	}
	.row .col.pull-m3 {
		right: 25%
	}
	.row .col.push-m3 {
		left: 25%
	}
	.row .col.offset-m4 {
		margin-left: 33.3333333333%
	}
	.row .col.pull-m4 {
		right: 33.3333333333%
	}
	.row .col.push-m4 {
		left: 33.3333333333%
	}
	.row .col.offset-m5 {
		margin-left: 41.6666666667%
	}
	.row .col.pull-m5 {
		right: 41.6666666667%
	}
	.row .col.push-m5 {
		left: 41.6666666667%
	}
	.row .col.offset-m6 {
		margin-left: 50%
	}
	.row .col.pull-m6 {
		right: 50%
	}
	.row .col.push-m6 {
		left: 50%
	}
	.row .col.offset-m7 {
		margin-left: 58.3333333333%
	}
	.row .col.pull-m7 {
		right: 58.3333333333%
	}
	.row .col.push-m7 {
		left: 58.3333333333%
	}
	.row .col.offset-m8 {
		margin-left: 66.6666666667%
	}
	.row .col.pull-m8 {
		right: 66.6666666667%
	}
	.row .col.push-m8 {
		left: 66.6666666667%
	}
	.row .col.offset-m9 {
		margin-left: 75%
	}
	.row .col.pull-m9 {
		right: 75%
	}
	.row .col.push-m9 {
		left: 75%
	}
	.row .col.offset-m10 {
		margin-left: 83.3333333333%
	}
	.row .col.pull-m10 {
		right: 83.3333333333%
	}
	.row .col.push-m10 {
		left: 83.3333333333%
	}
	.row .col.offset-m11 {
		margin-left: 91.6666666667%
	}
	.row .col.pull-m11 {
		right: 91.6666666667%
	}
	.row .col.push-m11 {
		left: 91.6666666667%
	}
	.row .col.offset-m12 {
		margin-left: 100%
	}
	.row .col.pull-m12 {
		right: 100%
	}
	.row .col.push-m12 {
		left: 100%
	}
}
@media only screen and (min-width: 993px) {
	.row .col.l1 {
		width: 8.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l2 {
		width: 16.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l5 {
		width: 41.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l7 {
		width: 58.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l9 {
		width: 75%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l10 {
		width: 83.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l11 {
		width: 91.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.l12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.offset-l1 {
		margin-left: 8.3333333333%
	}
	.row .col.pull-l1 {
		right: 8.3333333333%
	}
	.row .col.push-l1 {
		left: 8.3333333333%
	}
	.row .col.offset-l2 {
		margin-left: 16.6666666667%
	}
	.row .col.pull-l2 {
		right: 16.6666666667%
	}
	.row .col.push-l2 {
		left: 16.6666666667%
	}
	.row .col.offset-l3 {
		margin-left: 25%
	}
	.row .col.pull-l3 {
		right: 25%
	}
	.row .col.push-l3 {
		left: 25%
	}
	.row .col.offset-l4 {
		margin-left: 33.3333333333%
	}
	.row .col.pull-l4 {
		right: 33.3333333333%
	}
	.row .col.push-l4 {
		left: 33.3333333333%
	}
	.row .col.offset-l5 {
		margin-left: 41.6666666667%
	}
	.row .col.pull-l5 {
		right: 41.6666666667%
	}
	.row .col.push-l5 {
		left: 41.6666666667%
	}
	.row .col.offset-l6 {
		margin-left: 50%
	}
	.row .col.pull-l6 {
		right: 50%
	}
	.row .col.push-l6 {
		left: 50%
	}
	.row .col.offset-l7 {
		margin-left: 58.3333333333%
	}
	.row .col.pull-l7 {
		right: 58.3333333333%
	}
	.row .col.push-l7 {
		left: 58.3333333333%
	}
	.row .col.offset-l8 {
		margin-left: 66.6666666667%
	}
	.row .col.pull-l8 {
		right: 66.6666666667%
	}
	.row .col.push-l8 {
		left: 66.6666666667%
	}
	.row .col.offset-l9 {
		margin-left: 75%
	}
	.row .col.pull-l9 {
		right: 75%
	}
	.row .col.push-l9 {
		left: 75%
	}
	.row .col.offset-l10 {
		margin-left: 83.3333333333%
	}
	.row .col.pull-l10 {
		right: 83.3333333333%
	}
	.row .col.push-l10 {
		left: 83.3333333333%
	}
	.row .col.offset-l11 {
		margin-left: 91.6666666667%
	}
	.row .col.pull-l11 {
		right: 91.6666666667%
	}
	.row .col.push-l11 {
		left: 91.6666666667%
	}
	.row .col.offset-l12 {
		margin-left: 100%
	}
	.row .col.pull-l12 {
		right: 100%
	}
	.row .col.push-l12 {
		left: 100%
	}
}
@media only screen and (min-width: 1201px) {
	.row .col.xl1 {
		width: 8.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl2 {
		width: 16.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl5 {
		width: 41.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl7 {
		width: 58.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl9 {
		width: 75%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl10 {
		width: 83.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl11 {
		width: 91.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.xl12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.offset-xl1 {
		margin-left: 8.3333333333%
	}
	.row .col.pull-xl1 {
		right: 8.3333333333%
	}
	.row .col.push-xl1 {
		left: 8.3333333333%
	}
	.row .col.offset-xl2 {
		margin-left: 16.6666666667%
	}
	.row .col.pull-xl2 {
		right: 16.6666666667%
	}
	.row .col.push-xl2 {
		left: 16.6666666667%
	}
	.row .col.offset-xl3 {
		margin-left: 25%
	}
	.row .col.pull-xl3 {
		right: 25%
	}
	.row .col.push-xl3 {
		left: 25%
	}
	.row .col.offset-xl4 {
		margin-left: 33.3333333333%
	}
	.row .col.pull-xl4 {
		right: 33.3333333333%
	}
	.row .col.push-xl4 {
		left: 33.3333333333%
	}
	.row .col.offset-xl5 {
		margin-left: 41.6666666667%
	}
	.row .col.pull-xl5 {
		right: 41.6666666667%
	}
	.row .col.push-xl5 {
		left: 41.6666666667%
	}
	.row .col.offset-xl6 {
		margin-left: 50%
	}
	.row .col.pull-xl6 {
		right: 50%
	}
	.row .col.push-xl6 {
		left: 50%
	}
	.row .col.offset-xl7 {
		margin-left: 58.3333333333%
	}
	.row .col.pull-xl7 {
		right: 58.3333333333%
	}
	.row .col.push-xl7 {
		left: 58.3333333333%
	}
	.row .col.offset-xl8 {
		margin-left: 66.6666666667%
	}
	.row .col.pull-xl8 {
		right: 66.6666666667%
	}
	.row .col.push-xl8 {
		left: 66.6666666667%
	}
	.row .col.offset-xl9 {
		margin-left: 75%
	}
	.row .col.pull-xl9 {
		right: 75%
	}
	.row .col.push-xl9 {
		left: 75%
	}
	.row .col.offset-xl10 {
		margin-left: 83.3333333333%
	}
	.row .col.pull-xl10 {
		right: 83.3333333333%
	}
	.row .col.push-xl10 {
		left: 83.3333333333%
	}
	.row .col.offset-xl11 {
		margin-left: 91.6666666667%
	}
	.row .col.pull-xl11 {
		right: 91.6666666667%
	}
	.row .col.push-xl11 {
		left: 91.6666666667%
	}
	.row .col.offset-xl12 {
		margin-left: 100%
	}
	.row .col.pull-xl12 {
		right: 100%
	}
	.row .col.push-xl12 {
		left: 100%
	}
}

@media only screen and (min-width: 360px) {
	.flow-text {
		font-size: 1.2rem
	}
}
@media only screen and (min-width: 390px) {
	.flow-text {
		font-size: 1.224rem
	}
}
@media only screen and (min-width: 420px) {
	.flow-text {
		font-size: 1.248rem
	}
}
@media only screen and (min-width: 450px) {
	.flow-text {
		font-size: 1.272rem
	}
}
@media only screen and (min-width: 480px) {
	.flow-text {
		font-size: 1.296rem
	}
}
@media only screen and (min-width: 510px) {
	.flow-text {
		font-size: 1.32rem
	}
}
@media only screen and (min-width: 540px) {
	.flow-text {
		font-size: 1.344rem
	}
}
@media only screen and (min-width: 570px) {
	.flow-text {
		font-size: 1.368rem
	}
}
@media only screen and (min-width: 600px) {
	.flow-text {
		font-size: 1.392rem
	}
}
@media only screen and (min-width: 630px) {
	.flow-text {
		font-size: 1.416rem
	}
}
@media only screen and (min-width: 660px) {
	.flow-text {
		font-size: 1.44rem
	}
}
@media only screen and (min-width: 690px) {
	.flow-text {
		font-size: 1.464rem
	}
}
@media only screen and (min-width: 720px) {
	.flow-text {
		font-size: 1.488rem
	}
}
@media only screen and (min-width: 750px) {
	.flow-text {
		font-size: 1.512rem
	}
}
@media only screen and (min-width: 780px) {
	.flow-text {
		font-size: 1.536rem
	}
}
@media only screen and (min-width: 810px) {
	.flow-text {
		font-size: 1.56rem
	}
}
@media only screen and (min-width: 840px) {
	.flow-text {
		font-size: 1.584rem
	}
}
@media only screen and (min-width: 870px) {
	.flow-text {
		font-size: 1.608rem
	}
}
@media only screen and (min-width: 900px) {
	.flow-text {
		font-size: 1.632rem
	}
}
@media only screen and (min-width: 930px) {
	.flow-text {
		font-size: 1.656rem
	}
}
@media only screen and (min-width: 960px) {
	.flow-text {
		font-size: 1.68rem
	}
}
@media only screen and (max-width: 360px) {
	.flow-text {
		font-size: 1.2rem
	}
}
.scale-transition {
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
	transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
	transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
	transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63), -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important
}
.scale-transition.scale-out {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .2s !important;
	transition: -webkit-transform .2s !important;
	transition: transform .2s !important;
	transition: transform .2s, -webkit-transform .2s !important
}
.scale-transition.scale-in {
	-webkit-transform: scale(1);
	transform: scale(1)
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent
}
.btn.disabled,
.disabled.btn-large,
.disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
	pointer-events: none;
	background-color: #DFDFDF !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #9F9F9F !important;
	cursor: default
}
.btn.disabled:hover,
.disabled.btn-large:hover,
.disabled.btn-small:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-small.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-flat[disabled]:hover {
	background-color: #DFDFDF !important;
	color: #9F9F9F !important
}
.btn,
.btn-large,
.btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
	font-size: 14px;
	outline: 0
}
.btn i,
.btn-large i,
.btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
	font-size: 1.3rem;
	line-height: inherit
}
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
	background-color: #1d7d74
}
.btn,
.btn-large,
.btn-small {
	text-decoration: none;
	color: #fff;
	background-color: #DBA54B;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	cursor: pointer
}
.btn:hover,
.btn-large:hover,
.btn-small:hover {
	background-color: #2bbbad
}
.btn-floating {
	display: inline-block;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	background-color: #DBA54B;
	border-radius: 50%;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	cursor: pointer;
	vertical-align: middle
}
.btn-floating:hover {
	background-color: #DBA54B
}
.btn-floating:before {
	border-radius: 0
}
.btn-floating.btn-large {
	width: 56px;
	height: 56px;
	padding: 0
}
.btn-floating.btn-large.halfway-fab {
	bottom: -28px
}
.btn-floating.btn-large i {
	line-height: 56px
}
.btn-floating.btn-small {
	width: 32.4px;
	height: 32.4px
}
.btn-floating.btn-small.halfway-fab {
	bottom: -16.2px
}
.btn-floating.btn-small i {
	line-height: 32.4px
}
.btn-floating.halfway-fab {
	position: absolute;
	right: 24px;
	bottom: -20px
}
.btn-floating.halfway-fab.left {
	right: auto;
	left: 24px
}
.btn-floating i {
	width: inherit;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 1.6rem;
	line-height: 40px
}
button.btn-floating {
	border: none
}
.fixed-action-btn {
	position: fixed;
	right: 23px;
	bottom: 23px;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997
}
.fixed-action-btn.active ul {
	visibility: visible
}
.fixed-action-btn.direction-left,
.fixed-action-btn.direction-right {
	padding: 0 0 0 15px
}
.fixed-action-btn.direction-left ul,
.fixed-action-btn.direction-right ul {
	text-align: right;
	right: 64px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 100%;
	left: auto;
	width: 500px
}
.fixed-action-btn.direction-left ul li,
.fixed-action-btn.direction-right ul li {
	display: inline-block;
	margin: 7.5px 15px 0 0
}
.fixed-action-btn.direction-right {
	padding: 0 15px 0 0
}
.fixed-action-btn.direction-right ul {
	text-align: left;
	direction: rtl;
	left: 64px;
	right: auto
}
.fixed-action-btn.direction-right ul li {
	margin: 7.5px 0 0 15px
}
.fixed-action-btn.direction-bottom {
	padding: 0 0 15px 0
}
.fixed-action-btn.direction-bottom ul {
	top: 64px;
	bottom: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}
.fixed-action-btn.direction-bottom ul li {
	margin: 15px 0 0 0
}
.fixed-action-btn.toolbar {
	padding: 0;
	height: 56px
}
.fixed-action-btn.toolbar.active>a i {
	opacity: 0
}
.fixed-action-btn.toolbar ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	bottom: 0;
	z-index: 1
}
.fixed-action-btn.toolbar ul li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: inline-block;
	margin: 0;
	height: 100%;
	-webkit-transition: none;
	transition: none
}
.fixed-action-btn.toolbar ul li a {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	line-height: 56px;
	z-index: 1
}
.fixed-action-btn.toolbar ul li a i {
	line-height: inherit
}
.fixed-action-btn ul {
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	bottom: 64px;
	margin: 0;
	visibility: hidden
}
.fixed-action-btn ul li {
	margin-bottom: 15px
}
.fixed-action-btn ul a.btn-floating {
	opacity: 0
}
.fixed-action-btn .fab-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 40px;
	height: 40px;
	background-color: #DBA54B;
	border-radius: 50%;
	-webkit-transform: scale(0);
	transform: scale(0)
}
.btn-flat {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	color: #343434;
	cursor: pointer;
	-webkit-transition: background-color .2s;
	transition: background-color .2s
}
.btn-flat:focus,
.btn-flat:hover {
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-flat:focus {
	background-color: rgba(0, 0, 0, 0.1)
}
.btn-flat.disabled,
.btn-flat.btn-flat[disabled] {
	background-color: transparent !important;
	color: #b3b2b2 !important;
	cursor: default
}
.btn-large {
	height: 54px;
	line-height: 54px;
	font-size: 15px;
	padding: 0 28px
}
.btn-large i {
	font-size: 1.6rem
}
.btn-small {
	height: 32.4px;
	line-height: 32.4px;
	font-size: 13px
}
.btn-small i {
	font-size: 1.2rem
}
.btn-block {
	display: block
}
.dropdown-content {
	background-color: #fff;
	margin: 0;
	display: none;
	min-width: 100px;
	overflow-y: auto;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}
.dropdown-content:focus {
	outline: 0
}
.dropdown-content li {
	clear: both;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	min-height: 50px;
	line-height: 1.5rem;
	width: 100%;
	text-align: left
}
.dropdown-content li:hover,
.dropdown-content li.active {
	background-color: #eee
}
.dropdown-content li:focus {
	outline: none
}
.dropdown-content li.divider {
	min-height: 0;
	height: 1px
}
.dropdown-content li>a,
.dropdown-content li>span {
	font-size: 16px;
	color: #333333;
	display: block;
	line-height: 22px;
	padding: 14px 16px
}
.dropdown-content li>span>label {
	top: 1px;
	left: 0;
	height: 18px
}
.dropdown-content li>a>i {
	height: inherit;
	line-height: inherit;
	float: left;
	margin: 0 24px 0 0;
	width: 24px
}
body.keyboard-focused .dropdown-content li:focus {
	background-color: #dadada
}
.input-field.col .dropdown-content[type="checkbox"]+label {
	top: 1px;
	left: 0;
	height: 18px;
	-webkit-transform: none;
	transform: none
}
.dropdown-trigger {
	cursor: pointer
}
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 1;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out
}
.waves-effect .waves-ripple {
	position: absolute;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	opacity: 0;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transform: scale(0);
	transform: scale(0);
	pointer-events: none
}
.waves-effect.waves-light .waves-ripple {
	background-color: rgba(255, 255, 255, 0.45)
}
.waves-effect.waves-red .waves-ripple {
	background-color: rgba(244, 67, 54, 0.7)
}
.waves-effect.waves-yellow .waves-ripple {
	background-color: rgba(255, 235, 59, 0.7)
}
.waves-effect.waves-orange .waves-ripple {
	background-color: rgba(255, 152, 0, 0.7)
}
.waves-effect.waves-purple .waves-ripple {
	background-color: rgba(156, 39, 176, 0.7)
}
.waves-effect.waves-green .waves-ripple {
	background-color: rgba(76, 175, 80, 0.7)
}
.waves-effect.waves-teal .waves-ripple {
	background-color: rgba(0, 150, 136, 0.7)
}
.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
	border: 0;
	font-style: normal;
	font-size: inherit;
	text-transform: inherit;
	background: none
}
.waves-effect img {
	position: relative;
	z-index: -1
}
.waves-notransition {
	-webkit-transition: none !important;
	transition: none !important
}
.waves-circle {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
}
.waves-input-wrapper {
	border-radius: 0.2em;
	vertical-align: bottom
}
.waves-input-wrapper .waves-button-input {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1
}
.waves-circle {
	text-align: center;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 50%;
	-webkit-mask-image: none
}
.waves-block {
	display: block
}
.waves-effect .waves-ripple {
	z-index: -1
}

.materialboxed {
	display: block;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	position: relative;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
	-webkit-backface-visibility: hidden
}
.materialboxed:hover:not(.active) {
	opacity: .8
}
.materialboxed.active {
	cursor: -webkit-zoom-out;
	cursor: zoom-out
}
#materialbox-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #292929;
	z-index: 1000;
	will-change: opacity
}
.materialbox-caption {
	position: fixed;
	display: none;
	color: #fff;
	line-height: 50px;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0% 15%;
	height: 50px;
	z-index: 1000;
	-webkit-font-smoothing: antialiased
}
select:focus {
	outline: 1px solid #c9f3ef
}
button:focus {
	outline: none;
	background-color: #2ab7a9
}
label {
	font-size: .8rem;
	color: #DBA54B
}
::-webkit-input-placeholder {
	color: #d1d1d1
}
::-moz-placeholder {
	color: #d1d1d1
}
:-ms-input-placeholder {
	color: #d1d1d1
}
::-ms-input-placeholder {
	color: #d1d1d1
}
::placeholder {
	color: #d1d1d1
}
.material-form input:not([type]),
.material-form input[type=text]:not(.browser-default),
.material-form input[type=password]:not(.browser-default),
.material-form input[type=email]:not(.browser-default),
.material-form input[type=url]:not(.browser-default),
.material-form input[type=time]:not(.browser-default),
.material-form input[type=date]:not(.browser-default),
.material-form input[type=datetime]:not(.browser-default),
.material-form input[type=datetime-local]:not(.browser-default),
.material-form input[type=tel]:not(.browser-default),
.material-form input[type=number]:not(.browser-default),
.material-form input[type=search]:not(.browser-default),
textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #DBA54B;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 20px;
	margin: 0 0 8px 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border .3s, -webkit-box-shadow .3s;
	transition: border .3s, -webkit-box-shadow .3s;
	transition: box-shadow .3s, border .3s;
	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s
}
.material-form input:not([type]):disabled,
.material-form input:not([type])[readonly="readonly"],
.material-form input[type=text]:not(.browser-default):disabled,
.material-form input[type=text]:not(.browser-default)[readonly="readonly"],
.material-form input[type=password]:not(.browser-default):disabled,
.material-form input[type=password]:not(.browser-default)[readonly="readonly"],
.material-form input[type=email]:not(.browser-default):disabled,
.material-form input[type=email]:not(.browser-default)[readonly="readonly"],
.material-form input[type=url]:not(.browser-default):disabled,
.material-form input[type=url]:not(.browser-default)[readonly="readonly"],
.material-form input[type=time]:not(.browser-default):disabled,
.material-form input[type=time]:not(.browser-default)[readonly="readonly"],
.material-form input[type=date]:not(.browser-default):disabled,
.material-form input[type=date]:not(.browser-default)[readonly="readonly"],
.material-form input[type=datetime]:not(.browser-default):disabled,
.material-form input[type=datetime]:not(.browser-default)[readonly="readonly"],
.material-form input[type=datetime-local]:not(.browser-default):disabled,
.material-form input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
.material-form input[type=tel]:not(.browser-default):disabled,
.material-form input[type=tel]:not(.browser-default)[readonly="readonly"],
.material-form input[type=number]:not(.browser-default):disabled,
.material-form input[type=number]:not(.browser-default)[readonly="readonly"],
.material-form input[type=search]:not(.browser-default):disabled,
.material-form input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
	color: rgba(0, 0, 0, 0.42);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.42)
}
.material-form input:not([type]):disabled+label,
.material-form input:not([type])[readonly="readonly"]+label,
.material-form input[type=text]:not(.browser-default):disabled+label,
.material-form input[type=text]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=password]:not(.browser-default):disabled+label,
.material-form input[type=password]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=email]:not(.browser-default):disabled+label,
.material-form input[type=email]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=url]:not(.browser-default):disabled+label,
.material-form input[type=url]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=time]:not(.browser-default):disabled+label,
.material-form input[type=time]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=date]:not(.browser-default):disabled+label,
.material-form input[type=date]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=datetime]:not(.browser-default):disabled+label,
.material-form input[type=datetime]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=datetime-local]:not(.browser-default):disabled+label,
.material-form input[type=datetime-local]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=tel]:not(.browser-default):disabled+label,
.material-form input[type=tel]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=number]:not(.browser-default):disabled+label,
.material-form input[type=number]:not(.browser-default)[readonly="readonly"]+label,
.material-form input[type=search]:not(.browser-default):disabled+label,
.material-form input[type=search]:not(.browser-default)[readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
	color: rgba(0, 0, 0, 0.42)
}
.material-form input:not([type]):focus:not([readonly]),
.material-form input[type=text]:not(.browser-default):focus:not([readonly]),
.material-form input[type=password]:not(.browser-default):focus:not([readonly]),
.material-form input[type=email]:not(.browser-default):focus:not([readonly]),
.material-form input[type=url]:not(.browser-default):focus:not([readonly]),
.material-form input[type=time]:not(.browser-default):focus:not([readonly]),
.material-form input[type=date]:not(.browser-default):focus:not([readonly]),
.material-form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.material-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.material-form input[type=tel]:not(.browser-default):focus:not([readonly]),
.material-form input[type=number]:not(.browser-default):focus:not([readonly]),
.material-form input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #DBA54B;
	/* -webkit-box-shadow: 0 1px 0 0 #DBA54B;
	box-shadow: 0 1px 0 0 #DBA54B */
}
.material-form input:not([type]):focus:not([readonly])+label,
.material-form input[type=text]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=password]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=email]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=url]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=time]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=date]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=tel]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=number]:not(.browser-default):focus:not([readonly])+label,
.material-form input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #DBA54B
}
.material-form input:not([type]):focus.valid ~ label,
.material-form input[type=text]:not(.browser-default):focus.valid ~ label,
.material-form input[type=password]:not(.browser-default):focus.valid ~ label,
.material-form input[type=email]:not(.browser-default):focus.valid ~ label,
.material-form input[type=url]:not(.browser-default):focus.valid ~ label,
.material-form input[type=time]:not(.browser-default):focus.valid ~ label,
.material-form input[type=date]:not(.browser-default):focus.valid ~ label,
.material-form input[type=datetime]:not(.browser-default):focus.valid ~ label,
.material-form input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
.material-form input[type=tel]:not(.browser-default):focus.valid ~ label,
.material-form input[type=number]:not(.browser-default):focus.valid ~ label,
.material-form input[type=search]:not(.browser-default):focus.valid ~ label,
textarea.materialize-textarea:focus.valid ~ label {
	color: #4CAF50
}
.material-form input:not([type]):focus.invalid ~ label,
.material-form input[type=text]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=password]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=email]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=url]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=time]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=date]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=datetime]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=datetime-local]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=tel]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=number]:not(.browser-default):focus.invalid ~ label,
.material-form input[type=search]:not(.browser-default):focus.invalid ~ label,
textarea.materialize-textarea:focus.invalid ~ label {
	color: #F44336
}
.material-form input:not([type]).validate+label,
.material-form input[type=text]:not(.browser-default).validate+label,
.material-form input[type=password]:not(.browser-default).validate+label,
.material-form input[type=email]:not(.browser-default).validate+label,
.material-form input[type=url]:not(.browser-default).validate+label,
.material-form input[type=time]:not(.browser-default).validate+label,
.material-form input[type=date]:not(.browser-default).validate+label,
.material-form input[type=datetime]:not(.browser-default).validate+label,
.material-form input[type=datetime-local]:not(.browser-default).validate+label,
.material-form input[type=tel]:not(.browser-default).validate+label,
.material-form input[type=number]:not(.browser-default).validate+label,
.material-form input[type=search]:not(.browser-default).validate+label,
textarea.materialize-textarea.validate+label {
	width: 100%
}
.material-form input.valid:not([type]),
.material-form input.valid:not([type]):focus,
.material-form input.valid[type=text]:not(.browser-default),
.material-form input.valid[type=text]:not(.browser-default):focus,
.material-form input.valid[type=password]:not(.browser-default),
.material-form input.valid[type=password]:not(.browser-default):focus,
.material-form input.valid[type=email]:not(.browser-default),
.material-form input.valid[type=email]:not(.browser-default):focus,
.material-form input.valid[type=url]:not(.browser-default),
.material-form input.valid[type=url]:not(.browser-default):focus,
.material-form input.valid[type=time]:not(.browser-default),
.material-form input.valid[type=time]:not(.browser-default):focus,
.material-form input.valid[type=date]:not(.browser-default),
.material-form input.valid[type=date]:not(.browser-default):focus,
.material-form input.valid[type=datetime]:not(.browser-default),
.material-form input.valid[type=datetime]:not(.browser-default):focus,
.material-form input.valid[type=datetime-local]:not(.browser-default),
.material-form input.valid[type=datetime-local]:not(.browser-default):focus,
.material-form input.valid[type=tel]:not(.browser-default),
.material-form input.valid[type=tel]:not(.browser-default):focus,
.material-form input.valid[type=number]:not(.browser-default),
.material-form input.valid[type=number]:not(.browser-default):focus,
.material-form input.valid[type=search]:not(.browser-default),
.material-form input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown {
	border-bottom: 1px solid #4CAF50;
	-webkit-box-shadow: 0 1px 0 0 #4CAF50;
	box-shadow: 0 1px 0 0 #4CAF50
}
.material-form input.invalid:not([type]),
.material-form input.invalid:not([type]):focus,
.material-form input.invalid[type=text]:not(.browser-default),
.material-form input.invalid[type=text]:not(.browser-default):focus,
.material-form input.invalid[type=password]:not(.browser-default),
.material-form input.invalid[type=password]:not(.browser-default):focus,
.material-form input.invalid[type=email]:not(.browser-default),
.material-form input.invalid[type=email]:not(.browser-default):focus,
.material-form input.invalid[type=url]:not(.browser-default),
.material-form input.invalid[type=url]:not(.browser-default):focus,
.material-form input.invalid[type=time]:not(.browser-default),
.material-form input.invalid[type=time]:not(.browser-default):focus,
.material-form input.invalid[type=date]:not(.browser-default),
.material-form input.invalid[type=date]:not(.browser-default):focus,
.material-form input.invalid[type=datetime]:not(.browser-default),
.material-form input.invalid[type=datetime]:not(.browser-default):focus,
.material-form input.invalid[type=datetime-local]:not(.browser-default),
.material-form input.invalid[type=datetime-local]:not(.browser-default):focus,
.material-form input.invalid[type=tel]:not(.browser-default),
.material-form input.invalid[type=tel]:not(.browser-default):focus,
.material-form input.invalid[type=number]:not(.browser-default),
.material-form input.invalid[type=number]:not(.browser-default):focus,
.material-form input.invalid[type=search]:not(.browser-default),
.material-form input.invalid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea.invalid:focus,
.select-wrapper.invalid>input.select-dropdown,
.select-wrapper.invalid>input.select-dropdown:focus {
	border-bottom: 1px solid #F44336;
	-webkit-box-shadow: 0 1px 0 0 #F44336;
	box-shadow: 0 1px 0 0 #F44336
}
.material-form input:not([type]).valid ~ .helper-text[data-success],
.material-form input:not([type]):focus.valid ~ .helper-text[data-success],
.material-form input:not([type]).invalid ~ .helper-text[data-error],
.material-form input:not([type]):focus.invalid ~ .helper-text[data-error],
.material-form input[type=text]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=text]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=text]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=text]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=password]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=password]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=password]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=password]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=email]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=email]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=email]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=email]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=url]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=url]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=url]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=url]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=time]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=time]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=time]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=time]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=date]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=date]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=date]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=date]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=datetime]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=datetime]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=datetime]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=datetime]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=datetime-local]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=datetime-local]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=datetime-local]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=datetime-local]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=tel]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=tel]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=tel]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=tel]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=number]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=number]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=number]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=number]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
.material-form input[type=search]:not(.browser-default).valid ~ .helper-text[data-success],
.material-form input[type=search]:not(.browser-default):focus.valid ~ .helper-text[data-success],
.material-form input[type=search]:not(.browser-default).invalid ~ .helper-text[data-error],
.material-form input[type=search]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
textarea.materialize-textarea.valid ~ .helper-text[data-success],
textarea.materialize-textarea:focus.valid ~ .helper-text[data-success],
textarea.materialize-textarea.invalid ~ .helper-text[data-error],
textarea.materialize-textarea:focus.invalid ~ .helper-text[data-error],
.select-wrapper.valid .helper-text[data-success],
.select-wrapper.invalid ~ .helper-text[data-error] {
	color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none
}
.material-form input:not([type]).valid ~ .helper-text:after,
.material-form input:not([type]):focus.valid ~ .helper-text:after,
.material-form input[type=text]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=text]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=password]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=password]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=email]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=email]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=url]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=url]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=time]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=time]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=date]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=date]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=datetime]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=datetime]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=datetime-local]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=datetime-local]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=tel]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=tel]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=number]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=number]:not(.browser-default):focus.valid ~ .helper-text:after,
.material-form input[type=search]:not(.browser-default).valid ~ .helper-text:after,
.material-form input[type=search]:not(.browser-default):focus.valid ~ .helper-text:after,
textarea.materialize-textarea.valid ~ .helper-text:after,
textarea.materialize-textarea:focus.valid ~ .helper-text:after,
.select-wrapper.valid ~ .helper-text:after {
	content: attr(data-success);
	color: #4CAF50
}
.material-form input:not([type]).invalid ~ .helper-text:after,
.material-form input:not([type]):focus.invalid ~ .helper-text:after,
.material-form input[type=text]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=text]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=password]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=password]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=email]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=email]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=url]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=url]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=time]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=time]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=date]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=date]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=datetime]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=datetime]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=datetime-local]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=datetime-local]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=tel]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=tel]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=number]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=number]:not(.browser-default):focus.invalid ~ .helper-text:after,
.material-form input[type=search]:not(.browser-default).invalid ~ .helper-text:after,
.material-form input[type=search]:not(.browser-default):focus.invalid ~ .helper-text:after,
textarea.materialize-textarea.invalid ~ .helper-text:after,
textarea.materialize-textarea:focus.invalid ~ .helper-text:after,
.select-wrapper.invalid ~ .helper-text:after {
	content: attr(data-error);
	color: #F44336
}
.material-form input:not([type])+label:after,
.material-form input[type=text]:not(.browser-default)+label:after,
.material-form input[type=password]:not(.browser-default)+label:after,
.material-form input[type=email]:not(.browser-default)+label:after,
.material-form input[type=url]:not(.browser-default)+label:after,
.material-form input[type=time]:not(.browser-default)+label:after,
.material-form input[type=date]:not(.browser-default)+label:after,
.material-form input[type=datetime]:not(.browser-default)+label:after,
.material-form input[type=datetime-local]:not(.browser-default)+label:after,
.material-form input[type=tel]:not(.browser-default)+label:after,
.material-form input[type=number]:not(.browser-default)+label:after,
.material-form input[type=search]:not(.browser-default)+label:after,
textarea.materialize-textarea+label:after,
.select-wrapper+label:after {
	display: block;
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	-webkit-transition: .2s opacity ease-out, .2s color ease-out;
	transition: .2s opacity ease-out, .2s color ease-out
}
.input-field {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem
}
.input-field.inline {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px
}
.input-field.inline input,
.input-field.inline .select-dropdown {
	margin-bottom: 1rem
}
.input-field.col label {
	left: .75rem
}
.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
	width: calc(100% - 3rem - 1.5rem)
}
.input-field>label {
	color: #DBA54B;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1rem;
	cursor: text;
	-webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
	transition: color .2s ease-out, -webkit-transform .2s ease-out;
	transition: transform .2s ease-out, color .2s ease-out;
	transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	text-align: initial;
	-webkit-transform: translateY(12px);
	transform: translateY(12px)
}
.input-field>label:not(.label-icon).active {
	-webkit-transform: translateY(-14px) scale(0.8);
	transform: translateY(-14px) scale(0.8);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}
.input-field>input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label,
.input-field>input[type=date]:not(.browser-default)+label,
.input-field>input[type=time]:not(.browser-default)+label {
	-webkit-transform: translateY(-14px) scale(0.8);
	transform: translateY(-14px) scale(0.8);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}
.input-field .helper-text {
	position: relative;
	min-height: 18px;
	display: block;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.54)
}
.input-field .helper-text::after {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0
}
.input-field .prefix {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	-webkit-transition: color .2s;
	transition: color .2s;
	top: .5rem
}
.input-field .prefix.active {
	color: #DBA54B
}
.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .helper-text,
.input-field .prefix ~ .autocomplete-content {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem)
}
.input-field .prefix ~ label {
	margin-left: 3rem
}
@media only screen and (max-width: 992px) {
	.input-field .prefix ~ input {
		width: 86%;
		width: calc(100% - 3rem)
	}
}
@media only screen and (max-width: 600px) {
	.input-field .prefix ~ input {
		width: 80%;
		width: calc(100% - 3rem)
	}
}
.input-field input[type=search] {
	display: block;
	line-height: inherit;
	-webkit-transition: .3s background-color;
	transition: .3s background-color
}
.nav-wrapper .input-field input[type=search] {
	height: inherit;
	padding-left: 4rem;
	width: calc(100% - 4rem);
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.input-field input[type=search]:focus:not(.browser-default) {
	background-color: #fff;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #444
}
.input-field input[type=search]:focus:not(.browser-default)+label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
	color: #444
}
.input-field input[type=search]+.label-icon {
	-webkit-transform: none;
	transform: none;
	left: 1rem
}
.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
	position: absolute;
	top: 0;
	right: 1rem;
	color: transparent;
	cursor: pointer;
	font-size: 2rem;
	-webkit-transition: .3s color;
	transition: .3s color
}
textarea {
	width: 100%;
	height: 3rem;
	background-color: transparent
}
textarea.materialize-textarea {
	line-height: normal;
	overflow-y: hidden;
	padding: .8rem 0 .8rem 0;
	resize: none;
	min-height: 3rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.hiddendiv {
	visibility: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding-top: 1.2rem;
	position: absolute;
	top: 0;
	z-index: -1
}
.autocomplete-content li .highlight {
	color: #444
}
.autocomplete-content li img {
	height: 40px;
	width: 40px;
	margin: 5px 15px
}
.character-counter {
	min-height: 18px
}
[type="radio"]:not(:checked),
[type="radio"]:checked {
	position: absolute;
	opacity: 0;
	pointer-events: none
}
[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	-webkit-transition: .28s ease;
	transition: .28s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
[type="radio"]+span:before,
[type="radio"]+span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	margin: 4px;
	width: 16px;
	height: 16px;
	z-index: 0;
	-webkit-transition: .28s ease;
	transition: .28s ease
}
[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
	border-radius: 50%
}
[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
	border: 2px solid #5a5a5a
}
[type="radio"]:not(:checked)+span:after {
	-webkit-transform: scale(0);
	transform: scale(0)
}
[type="radio"]:checked+span:before {
	border: 2px solid transparent
}
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
	border: 2px solid #DBA54B
}
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
	background-color: #DBA54B
}
[type="radio"]:checked+span:after {
	-webkit-transform: scale(1.02);
	transform: scale(1.02)
}
[type="radio"].with-gap:checked+span:after {
	-webkit-transform: scale(0.5);
	transform: scale(0.5)
}
[type="radio"].tabbed:focus+span:before {
	-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1)
}
[type="radio"].with-gap:disabled:checked+span:before {
	border: 2px solid rgba(0, 0, 0, 0.42)
}
[type="radio"].with-gap:disabled:checked+span:after {
	border: none;
	background-color: rgba(0, 0, 0, 0.42)
}
[type="radio"]:disabled:not(:checked)+span:before,
[type="radio"]:disabled:checked+span:before {
	background-color: transparent;
	border-color: rgba(0, 0, 0, 0.42)
}
[type="radio"]:disabled+span {
	color: rgba(0, 0, 0, 0.42)
}
[type="radio"]:disabled:not(:checked)+span:before {
	border-color: rgba(0, 0, 0, 0.42)
}
[type="radio"]:disabled:checked+span:after {
	background-color: rgba(0, 0, 0, 0.42);
	border-color: #949494
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	opacity: 0;
	pointer-events: none
}
[type="checkbox"]+span:not(.lever) {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	z-index: 0;
	border: 2px solid #5a5a5a;
	border-radius: 1px;
	margin-top: 3px;
	-webkit-transition: .2s;
	transition: .2s
}
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
	border: 0;
	-webkit-transform: scale(0);
	transform: scale(0)
}
[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
	border: none;
	background-color: rgba(0, 0, 0, 0.42)
}
[type="checkbox"].tabbed:focus+span:not(.lever):after {
	-webkit-transform: scale(1);
	transform: scale(1);
	border: 0;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1)
}
[type="checkbox"]:checked+span:not(.lever):before {
	top: -4px;
	left: -5px;
	width: 12px;
	height: 22px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid #DBA54B;
	border-bottom: 2px solid #DBA54B;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%
}
[type="checkbox"]:checked:disabled+span:before {
	border-right: 2px solid rgba(0, 0, 0, 0.42);
	border-bottom: 2px solid rgba(0, 0, 0, 0.42)
}
[type="checkbox"]:indeterminate+span:not(.lever):before {
	top: -11px;
	left: -12px;
	width: 10px;
	height: 22px;
	border-top: none;
	border-left: none;
	border-right: 2px solid #DBA54B;
	border-bottom: none;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%
}
[type="checkbox"]:indeterminate:disabled+span:not(.lever):before {
	border-right: 2px solid rgba(0, 0, 0, 0.42);
	background-color: transparent
}
[type="checkbox"].filled-in+span:not(.lever):after {
	border-radius: 2px
}
[type="checkbox"].filled-in+span:not(.lever):before,
[type="checkbox"].filled-in+span:not(.lever):after {
	content: '';
	left: 0;
	position: absolute;
	-webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
	transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
	z-index: 1
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):before {
	width: 0;
	height: 0;
	border: 3px solid transparent;
	left: 6px;
	top: 10px;
	-webkit-transform: rotateZ(37deg);
	transform: rotateZ(37deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 2px solid #5a5a5a;
	top: 0px;
	z-index: 0
}
[type="checkbox"].filled-in:checked+span:not(.lever):before {
	top: 0;
	left: 1px;
	width: 8px;
	height: 13px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotateZ(37deg);
	transform: rotateZ(37deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #DBA54B;
	background-color: #DBA54B;
	z-index: 0
}
[type="checkbox"].filled-in.tabbed:focus+span:not(.lever):after {
	border-radius: 2px;
	border-color: #5a5a5a;
	background-color: rgba(0, 0, 0, 0.1)
}
[type="checkbox"].filled-in.tabbed:checked:focus+span:not(.lever):after {
	border-radius: 2px;
	background-color: #DBA54B;
	border-color: #DBA54B
}
[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):before {
	background-color: transparent;
	border: 2px solid transparent
}
[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):after {
	border-color: transparent;
	background-color: #949494
}
[type="checkbox"].filled-in:disabled:checked+span:not(.lever):before {
	background-color: transparent
}
[type="checkbox"].filled-in:disabled:checked+span:not(.lever):after {
	background-color: #949494;
	border-color: #949494
}
.switch,
.switch * {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.switch label {
	cursor: pointer
}
.switch label input[type=checkbox] {
	opacity: 0;
	width: 0;
	height: 0
}
.switch label input[type=checkbox]:checked+.lever {
	background-color: #84c7c1
}
.switch label input[type=checkbox]:checked+.lever:before,
.switch label input[type=checkbox]:checked+.lever:after {
	left: 18px
}
.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #DBA54B
}
.switch label .lever {
	content: "";
	display: inline-block;
	position: relative;
	width: 36px;
	height: 14px;
	background-color: rgba(0, 0, 0, 0.38);
	border-radius: 15px;
	margin-right: 10px;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
	vertical-align: middle;
	margin: 0 16px
}
.switch label .lever:before,
.switch label .lever:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	left: 0;
	top: -3px;
	-webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
	transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
	transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
	transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease
}
.switch label .lever:before {
	background-color: rgba(38, 166, 154, 0.15)
}
.switch label .lever:after {
	background-color: #F1F1F1;
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}
input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
	-webkit-transform: scale(2.4);
	transform: scale(2.4);
	background-color: rgba(38, 166, 154, 0.15)
}
input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
	-webkit-transform: scale(2.4);
	transform: scale(2.4);
	background-color: rgba(0, 0, 0, 0.08)
}
.switch input[type=checkbox][disabled]+.lever {
	cursor: default;
	background-color: rgba(0, 0, 0, 0.12)
}
.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
	background-color: #949494
}
select {
	display: none
}
select.browser-default {
	display: block
}
select {
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	padding: 5px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	height: 3rem
}
.select-label {
	position: absolute
}
.select-wrapper {
	position: relative
}
.select-wrapper.valid+label,
.select-wrapper.invalid+label {
	width: 100%;
	pointer-events: none
}
.select-wrapper input.select-dropdown {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #DBA54B;
	outline: none;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1
}
.select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #DBA54B
}
.select-wrapper .caret {
	position: absolute;
	right: 8px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	z-index: 0;
	fill: #D4AF37;
}
.select-wrapper+label {
	position: absolute;
	top: -26px;
	font-size: .8rem
}
select:disabled {
	color: rgba(0, 0, 0, 0.42)
}
.select-wrapper.disabled+label {
	color: rgba(0, 0, 0, 0.42)
}
.select-wrapper.disabled .caret {
	fill: rgba(0, 0, 0, 0.42)
}
.select-wrapper input.select-dropdown:disabled {
	color: rgba(0, 0, 0, 0.42);
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.select-wrapper i {
	color: rgba(0, 0, 0, 0.3)
}
.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
	color: rgba(0, 0, 0, 0.3);
	background-color: transparent
}
body.keyboard-focused .select-dropdown.dropdown-content li:focus {
	background-color: rgba(0, 0, 0, 0.08)
}
.select-dropdown.dropdown-content li:hover {
	background-color: rgba(0, 0, 0, 0.08)
}
.select-dropdown.dropdown-content li.selected {
	background-color: rgba(0, 0, 0, 0.03)
}
.prefix ~ .select-wrapper {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem)
}
.prefix ~ label {
	margin-left: 3rem
}
.select-dropdown li img {
	height: 40px;
	width: 40px;
	margin: 5px 15px;
	float: right
}
.select-dropdown li.optgroup {
	border-top: 1px solid #eee
}
.select-dropdown li.optgroup.selected>span {
	color: rgba(0, 0, 0, 0.7)
}
.select-dropdown li.optgroup>span {
	color: rgba(0, 0, 0, 0.4)
}
.select-dropdown li.optgroup ~ li.optgroup-option {
	padding-left: 1rem
}
.file-field {
	position: relative
}
.file-field .file-path-wrapper {
	overflow: hidden;
	padding-left: 10px
}
.file-field input.file-path {
	width: 100%
}
.file-field .btn,
.file-field .btn-large,
.file-field .btn-small {
	float: left;
	height: 3rem;
	line-height: 3rem
}
.file-field span {
	cursor: pointer
}
.file-field input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0)
}
.file-field input[type=file]::-webkit-file-upload-button {
	display: none
}
.range-field {
	position: relative
}
input[type=range],
input[type=range]+.thumb {
	cursor: pointer
}
input[type=range] {
	position: relative;
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	margin: 15px 0;
	padding: 0
}
input[type=range]:focus {
	outline: none
}
input[type=range]+.thumb {
	position: absolute;
	top: 10px;
	left: 0;
	border: none;
	height: 0;
	width: 0;
	border-radius: 50%;
	background-color: #DBA54B;
	margin-left: 7px;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
input[type=range]+.thumb .value {
	display: block;
	width: 30px;
	text-align: center;
	color: #DBA54B;
	font-size: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
input[type=range]+.thumb.active {
	border-radius: 50% 50% 50% 0
}
input[type=range]+.thumb.active .value {
	color: #fff;
	margin-left: -1px;
	margin-top: 8px;
	font-size: 10px
}
input[type=range] {
	-webkit-appearance: none
}
input[type=range]::-webkit-slider-runnable-track {
	height: 3px;
	background: #c2c0c2;
	border: none
}
input[type=range]::-webkit-slider-thumb {
	border: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: #DBA54B;
	-webkit-transition: -webkit-box-shadow .3s;
	transition: -webkit-box-shadow .3s;
	transition: box-shadow .3s;
	transition: box-shadow .3s, -webkit-box-shadow .3s;
	-webkit-appearance: none;
	background-color: #DBA54B;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	margin: -5px 0 0 0
}
.keyboard-focused input[type=range]:focus:not(.active)::-webkit-slider-thumb {
	-webkit-box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
	box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26)
}
input[type=range] {
	border: 1px solid white
}
input[type=range]::-moz-range-track {
	height: 3px;
	background: #c2c0c2;
	border: none
}
input[type=range]::-moz-focus-inner {
	border: 0
}
input[type=range]::-moz-range-thumb {
	border: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: #DBA54B;
	-webkit-transition: -webkit-box-shadow .3s;
	transition: -webkit-box-shadow .3s;
	transition: box-shadow .3s;
	transition: box-shadow .3s, -webkit-box-shadow .3s;
	margin-top: -5px
}
input[type=range]:-moz-focusring {
	outline: 1px solid #fff;
	outline-offset: -1px
}
.keyboard-focused input[type=range]:focus:not(.active)::-moz-range-thumb {
	box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26)
}
input[type=range]::-ms-track {
	height: 3px;
	background: transparent;
	border-color: transparent;
	border-width: 6px 0;
	color: transparent
}
input[type=range]::-ms-fill-lower {
	background: #777
}
input[type=range]::-ms-fill-upper {
	background: #ddd
}
input[type=range]::-ms-thumb {
	border: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: #DBA54B;
	-webkit-transition: -webkit-box-shadow .3s;
	transition: -webkit-box-shadow .3s;
	transition: box-shadow .3s;
	transition: box-shadow .3s, -webkit-box-shadow .3s
}
.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
	box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26)
}

.drag-target {
	height: 100%;
	width: 10px;
	position: fixed;
	top: 0;
	z-index: 998
}
.drag-target.right-aligned {
	right: 0
}

.preloader-wrapper {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px
}
.preloader-wrapper.small {
	width: 36px;
	height: 36px
}
.preloader-wrapper.big {
	width: 64px;
	height: 64px
}
.preloader-wrapper.active {
	-webkit-animation: container-rotate 1568ms linear infinite;
	animation: container-rotate 1568ms linear infinite
}
@-webkit-keyframes container-rotate {
	to {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes container-rotate {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}
.spinner-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-color: #DBA54B
}
.spinner-blue,
.spinner-blue-only {
	border-color: #4285f4
}
.spinner-red,
.spinner-red-only {
	border-color: #db4437
}
.spinner-yellow,
.spinner-yellow-only {
	border-color: #f4b400
}
.spinner-green,
.spinner-green-only {
	border-color: #0f9d58
}
.active .spinner-layer.spinner-blue {
	-webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer.spinner-red {
	-webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer.spinner-yellow {
	-webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer.spinner-green {
	-webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer,
.active .spinner-layer.spinner-blue-only,
.active .spinner-layer.spinner-red-only,
.active .spinner-layer.spinner-yellow-only,
.active .spinner-layer.spinner-green-only {
	opacity: 1;
	-webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
@-webkit-keyframes fill-unfill-rotate {
	12.5% {
		-webkit-transform: rotate(135deg)
	}
	25% {
		-webkit-transform: rotate(270deg)
	}
	37.5% {
		-webkit-transform: rotate(405deg)
	}
	50% {
		-webkit-transform: rotate(540deg)
	}
	62.5% {
		-webkit-transform: rotate(675deg)
	}
	75% {
		-webkit-transform: rotate(810deg)
	}
	87.5% {
		-webkit-transform: rotate(945deg)
	}
	to {
		-webkit-transform: rotate(1080deg)
	}
}
@keyframes fill-unfill-rotate {
	12.5% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg)
	}
	25% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg)
	}
	37.5% {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg)
	}
	50% {
		-webkit-transform: rotate(540deg);
		transform: rotate(540deg)
	}
	62.5% {
		-webkit-transform: rotate(675deg);
		transform: rotate(675deg)
	}
	75% {
		-webkit-transform: rotate(810deg);
		transform: rotate(810deg)
	}
	87.5% {
		-webkit-transform: rotate(945deg);
		transform: rotate(945deg)
	}
	to {
		-webkit-transform: rotate(1080deg);
		transform: rotate(1080deg)
	}
}
@-webkit-keyframes blue-fade-in-out {
	from {
		opacity: 1
	}
	25% {
		opacity: 1
	}
	26% {
		opacity: 0
	}
	89% {
		opacity: 0
	}
	90% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}
@keyframes blue-fade-in-out {
	from {
		opacity: 1
	}
	25% {
		opacity: 1
	}
	26% {
		opacity: 0
	}
	89% {
		opacity: 0
	}
	90% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes red-fade-in-out {
	from {
		opacity: 0
	}
	15% {
		opacity: 0
	}
	25% {
		opacity: 1
	}
	50% {
		opacity: 1
	}
	51% {
		opacity: 0
	}
}
@keyframes red-fade-in-out {
	from {
		opacity: 0
	}
	15% {
		opacity: 0
	}
	25% {
		opacity: 1
	}
	50% {
		opacity: 1
	}
	51% {
		opacity: 0
	}
}
@-webkit-keyframes yellow-fade-in-out {
	from {
		opacity: 0
	}
	40% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	75% {
		opacity: 1
	}
	76% {
		opacity: 0
	}
}
@keyframes yellow-fade-in-out {
	from {
		opacity: 0
	}
	40% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	75% {
		opacity: 1
	}
	76% {
		opacity: 0
	}
}
@-webkit-keyframes green-fade-in-out {
	from {
		opacity: 0
	}
	65% {
		opacity: 0
	}
	75% {
		opacity: 1
	}
	90% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes green-fade-in-out {
	from {
		opacity: 0
	}
	65% {
		opacity: 0
	}
	75% {
		opacity: 1
	}
	90% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.gap-patch {
	position: absolute;
	top: 0;
	left: 45%;
	width: 10%;
	height: 100%;
	overflow: hidden;
	border-color: inherit
}
.gap-patch .circle {
	width: 1000%;
	left: -450%
}
.circle-clipper {
	display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
	border-color: inherit
}
.circle-clipper .circle {
	width: 200%;
	height: 100%;
	border-width: 3px;
	border-style: solid;
	border-color: inherit;
	border-bottom-color: transparent !important;
	border-radius: 50%;
	-webkit-animation: none;
	animation: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0
}
.circle-clipper.left .circle {
	left: 0;
	border-right-color: transparent !important;
	-webkit-transform: rotate(129deg);
	transform: rotate(129deg)
}
.circle-clipper.right .circle {
	left: -100%;
	border-left-color: transparent !important;
	-webkit-transform: rotate(-129deg);
	transform: rotate(-129deg)
}
.active .circle-clipper.left .circle {
	-webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .circle-clipper.right .circle {
	-webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
@-webkit-keyframes left-spin {
	from {
		-webkit-transform: rotate(130deg)
	}
	50% {
		-webkit-transform: rotate(-5deg)
	}
	to {
		-webkit-transform: rotate(130deg)
	}
}
@keyframes left-spin {
	from {
		-webkit-transform: rotate(130deg);
		transform: rotate(130deg)
	}
	50% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	to {
		-webkit-transform: rotate(130deg);
		transform: rotate(130deg)
	}
}
@-webkit-keyframes right-spin {
	from {
		-webkit-transform: rotate(-130deg)
	}
	50% {
		-webkit-transform: rotate(5deg)
	}
	to {
		-webkit-transform: rotate(-130deg)
	}
}
@keyframes right-spin {
	from {
		-webkit-transform: rotate(-130deg);
		transform: rotate(-130deg)
	}
	50% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg)
	}
	to {
		-webkit-transform: rotate(-130deg);
		transform: rotate(-130deg)
	}
}
#spinnerContainer.cooldown {
	-webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
	animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1)
}
@-webkit-keyframes fade-out {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@keyframes fade-out {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

.pulse {
	overflow: visible;
	position: relative
}
.pulse::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: inherit;
	border-radius: inherit;
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	transition: opacity .3s, transform .3s, -webkit-transform .3s;
	-webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1
}
@-webkit-keyframes pulse-animation {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
}
@keyframes pulse-animation {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
}
.datepicker-modal {
	max-width: 325px;
	min-width: 300px;
	max-height: none
}
.datepicker-container.modal-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0
}
.datepicker-controls {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 280px;
	margin: 0 auto
}
.datepicker-controls .selects-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
.datepicker-controls .select-wrapper input {
	border-bottom: none;
	text-align: center;
	margin: 0
}
.datepicker-controls .select-wrapper input:focus {
	border-bottom: none
}
.datepicker-controls .select-wrapper .caret {
	display: none
}
.datepicker-controls .select-year input {
	width: 50px
}
.datepicker-controls .select-month input {
	width: 70px
}
.month-prev,
.month-next {
	margin-top: 4px;
	cursor: pointer;
	background-color: transparent;
	border: none
}
.datepicker-date-display {
	-webkit-box-flex: 1;
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;
	background-color: #DBA54B;
	color: #fff;
	padding: 20px 22px;
	font-weight: 500
}
.datepicker-date-display .year-text {
	display: block;
	font-size: 1.5rem;
	line-height: 25px;
	color: rgba(255, 255, 255, 0.7)
}
.datepicker-date-display .date-text {
	display: block;
	font-size: 2.8rem;
	line-height: 47px;
	font-weight: 500
}
.datepicker-calendar-container {
	-webkit-box-flex: 2.5;
	-webkit-flex: 2.5 auto;
	-ms-flex: 2.5 auto;
	flex: 2.5 auto
}
.datepicker-table {
	width: 280px;
	font-size: 1rem;
	margin: 0 auto
}
.datepicker-table thead {
	border-bottom: none
}
.datepicker-table th {
	padding: 10px 5px;
	text-align: center
}
.datepicker-table tr {
	border: none
}
.datepicker-table abbr {
	text-decoration: none;
	color: #999
}
.datepicker-table td {
	border-radius: 50%;
	padding: 0
}
.datepicker-table td.is-today {
	color: #DBA54B
}
.datepicker-table td.is-selected {
	background-color: #DBA54B;
	color: #fff
}
.datepicker-table td.is-outside-current-month,
.datepicker-table td.is-disabled {
	color: rgba(0, 0, 0, 0.3);
	pointer-events: none
}
.datepicker-day-button {
	background-color: transparent;
	border: none;
	line-height: 38px;
	display: block;
	width: 100%;
	border-radius: 50%;
	padding: 0 5px;
	cursor: pointer;
	color: inherit
}
.datepicker-day-button:focus {
	background-color: rgba(43, 161, 150, 0.25)
}
.datepicker-footer {
	width: 280px;
	margin: 0 auto;
	padding-bottom: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
	color: #DBA54B;
	padding: 0 1rem
}
.datepicker-clear {
	color: #F44336
}
@media only screen and (min-width: 601px) {
	.datepicker-modal {
		max-width: 625px
	}
	.datepicker-container.modal-content {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}
	.datepicker-date-display {
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 270px;
		-ms-flex: 0 1 270px;
		flex: 0 1 270px
	}
	.datepicker-controls,
	.datepicker-table,
	.datepicker-footer {
		width: 320px
	}
	.datepicker-day-button {
		line-height: 44px
	}
}
.timepicker-modal {
	max-width: 325px;
	max-height: none
}
.timepicker-container.modal-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0
}
.text-primary {
	color: #fff
}
.timepicker-digital-display {
	-webkit-box-flex: 1;
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;
	background-color: #DBA54B;
	padding: 10px;
	font-weight: 300
}
.timepicker-text-container {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.timepicker-span-hours,
.timepicker-span-minutes,
.timepicker-span-am-pm div {
	cursor: pointer
}
.timepicker-span-hours {
	margin-right: 3px
}
.timepicker-span-minutes {
	margin-left: 3px
}
.timepicker-display-am-pm {
	font-size: 1.3rem;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	font-weight: 400
}
.timepicker-analog-display {
	-webkit-box-flex: 2.5;
	-webkit-flex: 2.5 auto;
	-ms-flex: 2.5 auto;
	flex: 2.5 auto
}
.timepicker-plate {
	background-color: #eee;
	border-radius: 50%;
	width: 270px;
	height: 270px;
	overflow: visible;
	position: relative;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.timepicker-canvas,
.timepicker-dial {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}
.timepicker-minutes {
	visibility: hidden
}
.timepicker-tick {
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.87);
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	font-size: 15px
}
.timepicker-tick.active,
.timepicker-tick:hover {
	background-color: rgba(38, 166, 154, 0.25)
}
.timepicker-dial {
	-webkit-transition: opacity 350ms, -webkit-transform 350ms;
	transition: opacity 350ms, -webkit-transform 350ms;
	transition: transform 350ms, opacity 350ms;
	transition: transform 350ms, opacity 350ms, -webkit-transform 350ms
}
.timepicker-dial-out {
	opacity: 0
}
.timepicker-dial-out.timepicker-hours {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1)
}
.timepicker-dial-out.timepicker-minutes {
	-webkit-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8)
}
.timepicker-canvas {
	-webkit-transition: opacity 175ms;
	transition: opacity 175ms
}
.timepicker-canvas line {
	stroke: #DBA54B;
	stroke-width: 4;
	stroke-linecap: round
}
.timepicker-canvas-out {
	opacity: 0.25
}
.timepicker-canvas-bearing {
	stroke: none;
	fill: #DBA54B
}
.timepicker-canvas-bg {
	stroke: none;
	fill: #DBA54B
}
.timepicker-footer {
	margin: 0 auto;
	padding: 5px 1rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.timepicker-clear {
	color: #F44336
}
.timepicker-close {
	color: #DBA54B
}
.timepicker-clear,
.timepicker-close {
	padding: 0 20px
}
@media only screen and (min-width: 601px) {
	.timepicker-modal {
		max-width: 600px
	}
	.timepicker-container.modal-content {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}
	.timepicker-text-container {
		top: 32%
	}
	.timepicker-display-am-pm {
		position: relative;
		right: auto;
		bottom: auto;
		text-align: center;
		margin-top: 1.2rem
	}
}

/* End of Materialize CSS */
/* ============================================ */