.something {}

/* PHP Form Builder */
/* Materialize CSS Mods*/

.row {
	margin-bottom: 0;
}

.row .col {
	padding: 0;
}

.form-horizontal.material-form input {
	color: #fff;
}

.input-field.col label {
	left: 0;
}

.input-field {
	margin-bottom: 0;
}

.input-field>label {
	color: #ffffff;
}

.input-field>label,
.select-wrapper input.select-dropdown {
	font-size: 20px;
}

.astroform__input-label {
	font-size: 16px;
	margin-bottom: -1em;
}

.select-wrapper input.select-dropdown {
	color: #ffffff;
}

.dropdown-content {
	padding-left: 0;
}

.dropdown-content li {
	list-style-type: none;
}

.astroform__section-title {
	margin-top: 2em;
	margin-bottom: 0;
	font-size: 18px;
}

.astroform__section-title,
.astroform__input-label {
	text-align: left;
}

.astroform__section-gdpr-desc {
	width: 340px;
	margin: 40px auto 10px;
	font-size: 16px;
	text-align: center;
}

.astroform__section-gdpr-desc a {

	color: #fff;
}

.astroform__section-gdpr-desc a:hover {
	border-bottom: 1px dashed #fff;
}

/* END OF -- PHP Form Builder */

/* Astrology Reports */

.report__section-title {
	display: inline-block;
	border-right: 3px solid #b01e8b;
	border-bottom: 3px solid #b01e8b;
	border-radius: 0 0 16px 0;
	padding: 16px 40px;
}

.report__section-title img {
	position: relative;
	top: 4px;
	margin-right: 12px;
}

.report__article-subtitle img {
	position: relative;
	top: 4px;
	margin-right: 6px;
}

.report__article-subtitle img:last-child {
	margin-right: 12px;
}

.report__readmore-content span {
    display: none;
}
.report__readmore-link {
    display: inline;
    font-weight: 800;
    text-transform: uppercase;
    color: #b57d26;
    border-bottom: 2px solid #b57d26;
    transition: all 0.25s;
}

.report__readmore-link:hover {
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
}

/* Charts */

/* Horizontal Bar Chart */

.report__chart-horizontal-bars {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 210px;
  margin: 0 auto;
}

.report__chart-horizontal-bars--one-bar {
	height: 130px;
}

/*
.report__chart-hbar-xlines {
	position: absolute;
	z-index: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	display: none;
}

.report__chart-hbar-xlines span {
	width: 1px;
	border-right: 1px solid #fff;
}
*/

.report__chart-hbar-xnumbers {
	position: absolute;
	z-index: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 700;
	padding: 0 12px 8px 16px;
}

.report__chart-hbar {
  position: relative;
  z-index: 1;
  height: 60px;
  max-width: 800px;
  line-height: 60px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
}

.report__chart-hbar--primary {
	margin: 20px auto 20px;
}

.report__chart-hbar::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 60px;
  top: 0;
  z-index: -2;
}

.report__chart-hbar::after {
  content: '';
  height: 60px;
  transition: 0.7s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* border-left: 1px solid #fff; */
  border-radius: 0 7px 7px 0;
}

.report__chart-hbar:hover::after {
  box-shadow: 0 0 16px rgba(255,255,255,0.5);
}

.report__chart-hbar-legends {
	width: 100%;
	padding: 20px 20px 14px;
	text-align: right;
}

.report__chart-hbar-legend-item {
}

.report__chart-hbar-legend-item:first-child {
	margin-bottom: 8px;
}

.report__chart-hbar-legend-text {
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: 700;
}

.report__chart-hbar-legend-icon {
	display: inline-block;
	width: 50px;
	height: 30px;
	border-radius: 7px;
	background: #fff;
	margin-left: 12px;
}

.report__chart-hbar--primary::after,
.report__chart-hbar-legend-icon--primary {
  background: #3ECDC9;
}

.report__chart-hbar--secondary::after,
.report__chart-hbar-legend-icon--secondary {
  background: #B02DED;
}

.hbar-animation::after {
  animation: hbar-after 1.5s ease-out forwards;
}
 
.hbar0::after{
  max-width: 0%;
}

.hbar10::after{
  max-width: 10%;
}

.hbar20::after{
  max-width: 20%;
}

.hbar30::after{
  max-width: 30%;
}

.hbar40::after{
  max-width: 40%;
}

.hbar50::after{
  max-width: 50%;
}

.hbar60::after{
  max-width: 60%;
}

.hbar70::after{
  max-width: 70%;
}

.hbar80::after{
  max-width: 80%;
}

.hbar90::after{
  max-width: 90%;
}

.hbar100::after{
  max-width: 100%;
}

@keyframes hbar-after {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

/* Vertical Bar Chart */

.report__chart-vertical-bars {
  margin-bottom: 40px;
  border: 2px solid #b01e8b;
  border-radius: 16px;
  padding: 40px 20px;
  width: 497px;
}

.report__chart-vertical-bars-wrapper {
  position: relative;
  width: 320px;
  height: 400px;
}

.report__chart-vertical-bars-wrapper--three-bars {
  width: 453px;	
}

.report__chart-vbar-yaxis {
	position: absolute;
	top: 0;
	left: 40px;
	height: 97%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	line-height: initial;
	font-weight: 700;
}

.report__chart-vtwobars-line1,
.report__chart-vtwobars-line2 {
	position: absolute;
	height: 100%;
	width: 20px;
	border-radius: 7px;
}

.report__chart-vtwobars-line1 {
	left: 128px;
	background: #3ecdc9;
}

.report__chart-vtwobars-line2 {
	left: 240px;
	background: #ad2eef;
}

.report__chart-vthreebars-line1,
.report__chart-vthreebars-line2,
.report__chart-vthreebars-line3 {
	position: absolute;
	height: 100%;
	width: 20px;
	border-radius: 7px;
}

.report__chart-vthreebars-line1 {
	left: 128px;
	background: #3ecdc9;
}

.report__chart-vthreebars-line2 {
	left: 240px;
	background: #ad2eef;
}

.report__chart-vthreebars-line3 {
	left: 352px;
	background: #d7ce28;
}

.report__chart-vbar1 {
  position: absolute;
  bottom: 0%;
  left: 116px;
  display: block;
  font-weight: bold;
  height: 0;
}

.report__chart-vbar2 {
  position: absolute;
  bottom: 0%;
  left: 228px;
  display: block;
  font-weight: bold;
  height: 0;
}

.report__chart-vbar3 {
  position: absolute;
  bottom: 0%;
  left: 340px;
  display: block;
  font-weight: bold;
  height: 0;
}

.report__chart-vscore {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 12px;
  width: 42px;
  height: 42px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #051729;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 16px rgba(255,255,255,0.9);
}

/*
.vscore1-value {
	height: 45%;
}

.vscore2-value {
	height: 75%;
}
*/

.report__chart-vbar-animate {
  animation: vbar-animate 1.5s ease-out forwards;
}

@keyframes vbar-animate {
  0%{
    bottom: 0px;
  }
  100%{
    bottom: 100%;
  }
}

/* END OF -- Astrology Reports */